NET "ADA_RST_N" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "ADG[0]" LOC = B3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "ADG[1]" LOC = A3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "ADG[2]" LOC = B4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "ADG[3]" LOC = A2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "CLK_50M" LOC = R10 | IOSTANDARD = LVCMOS33;
NET "CRAD_SCL1_8" LOC = T7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "CRAD_SCL9_12" LOC = V6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "CRAD_SDA1_8" LOC = R7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "CRAD_SDA9_12" LOC = T6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_ADDR[0]" LOC = L2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[1]" LOC = L1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[2]" LOC = K2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[3]" LOC = K1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[4]" LOC = H1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[5]" LOC = H2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[6]" LOC = F1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[7]" LOC = F2 | IOSTANDARD = LVCMOS33;
NET "EXT_CS" LOC = N5 | IOSTANDARD = LVCMOS33;
NET "EXT_DATA[0]" LOC = U2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[10]" LOC = V7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[11]" LOC = U7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[12]" LOC = V5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[13]" LOC = U5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[14]" LOC = V4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[15]" LOC = V3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[1]" LOC = U1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[2]" LOC = T2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[3]" LOC = T1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[4]" LOC = P2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[5]" LOC = P1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[6]" LOC = N2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[7]" LOC = N1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[8]" LOC = U8 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_DATA[9]" LOC = V8 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "EXT_RD" LOC = K6 | IOSTANDARD = LVCMOS33;
NET "EXT_WR" LOC = L7 | IOSTANDARD = LVCMOS33;
NET "LED0" LOC = T9 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SCAL_OE" LOC = A4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SCAL_SCK" LOC = B6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SCAL_SCLR" LOC = A6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SCAL_SI" LOC = B8 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT10_OE" LOC = K13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT10_OE1" LOC = J16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT10_SCK" LOC = H15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT10_SCLR" LOC = J18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT10_SI" LOC = G16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT11_OE" LOC = N17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT11_OE1" LOC = P18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT11_SCK" LOC = T18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT11_SCLR" LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT11_SI" LOC = T17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT12_OE" LOC = L15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT12_OE1" LOC = L16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT12_SCK" LOC = K16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT12_SCLR" LOC = K15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT12_SI" LOC = K12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT1_OE" LOC = A11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT1_OE1" LOC = B11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT1_SCK" LOC = B12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT1_SCLR" LOC = A12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT1_SI" LOC = A14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT2_OE" LOC = A7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT2_OE1" LOC = C6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT2_SCK" LOC = A5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT2_SCLR" LOC = D6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT2_SI" LOC = C5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT3_OE" LOC = B14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT3_OE1" LOC = A16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT3_SCK" LOC = C17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT3_SCLR" LOC = B16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT3_SI" LOC = C18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT4_OE" LOC = A15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT4_OE1" LOC = D14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT4_SCK" LOC = F13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT4_SCLR" LOC = C14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT4_SI" LOC = E13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT5_OE" LOC = H12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT5_OE1" LOC = G13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT5_SCK" LOC = K14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT5_SCLR" LOC = J13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT5_SI" LOC = D17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT6_OE" LOC = H14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT6_OE1" LOC = H13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT6_SCK" LOC = G14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT6_SCLR" LOC = F14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT6_SI" LOC = C15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT7_OE" LOC = D18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT7_OE1" LOC = F17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT7_SCK" LOC = H17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT7_SCLR" LOC = F18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT7_SI" LOC = H18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT8_OE" LOC = G18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT8_OE1" LOC = F15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT8_SCK" LOC = E16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT8_SCLR" LOC = F16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT8_SI" LOC = E18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT9_OE" LOC = K18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT9_OE1" LOC = K17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT9_SCK" LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT9_SCLR" LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "REL_SLOT9_SI" LOC = N18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCAL_PCB_SCL" LOC = D1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCAL_PCB_SDA" LOC = D2 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCAL_SCL" LOC = J6 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCAL_SDA" LOC = J7 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT1" LOC = K3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT10" LOC = E3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT11" LOC = K5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT12" LOC = D3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT2" LOC = J1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT3" LOC = L3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT4" LOC = H3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT5" LOC = M1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT6" LOC = G1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT7" LOC = N3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT8" LOC = F3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_RG_SLOT9" LOC = P3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT1" LOC = L13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT10" LOC = T13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT11" LOC = V11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT12" LOC = T11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT2" LOC = M18 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT3" LOC = M13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT4" LOC = N15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT5" LOC = N14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT6" LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT7" LOC = V16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT8" LOC = V14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SCL_STATE_SLOT9" LOC = U13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT1" LOC = K4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT10" LOC = E1 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT11" LOC = L5 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT12" LOC = E4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT2" LOC = J3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT3" LOC = L4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT4" LOC = H4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT5" LOC = M3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT6" LOC = G3 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT7" LOC = N4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT8" LOC = F4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_RG_SLOT9" LOC = P4 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT1" LOC = L12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT10" LOC = P12 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT11" LOC = U11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT12" LOC = R11 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT2" LOC = M16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT3" LOC = L14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT4" LOC = N16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT5" LOC = M14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT6" LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT7" LOC = U16 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT8" LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "SDA_STATE_SLOT9" LOC = V13 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "STATE_SCAL_SCL" LOC = U17 | IOSTANDARD = LVCMOS33 | DRIVE = 16;
NET "STATE_SCAL_SDA" LOC = U18 | IOSTANDARD = LVCMOS33 | DRIVE = 16; 