NET "ADA_RST_N" LOC = M9 | IOSTANDARD = LVCMOS33;
NET "ADG[0]" LOC = G6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "ADG[1]" LOC = G5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "ADG[2]" LOC = C7 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "ADG[3]" LOC = H5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "CLK_50M" LOC = P1 | IOSTANDARD = LVCMOS33;
NET "CRAD_SCL1_8" LOC = P12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "CRAD_SCL9_12" LOC = T8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "CRAD_SDA1_8" LOC = N12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "CRAD_SDA9_12" LOC = P8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_ADDR[0]" LOC = K2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[1]" LOC = K1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[2]" LOC = M2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[3]" LOC = J3 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[4]" LOC = J1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[5]" LOC = H1 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[6]" LOC = H2 | IOSTANDARD = LVCMOS33;
NET "EXT_ADDR[7]" LOC = G3 | IOSTANDARD = LVCMOS33;
NET "EXT_CS" LOC = R2 | IOSTANDARD = LVCMOS33;
NET "EXT_DATA[0]" LOC = R1 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[10]" LOC = T12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[11]" LOC = R12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[12]" LOC = P11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[13]" LOC = P9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[14]" LOC = N9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[15]" LOC = N8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[1]" LOC = N6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[2]" LOC = M6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[3]" LOC = N1 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[4]" LOC = N3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[5]" LOC = M1 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[6]" LOC = L3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[7]" LOC = L1 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[8]" LOC = R14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_DATA[9]" LOC = T15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "EXT_RD" LOC = M7 | IOSTANDARD = LVCMOS33;
NET "EXT_WR" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "LED0" LOC = T9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SCAL_OE" LOC = A7 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SCAL_SCK" LOC = B6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SCAL_SCLR" LOC = A6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SCAL_SI" LOC = D6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT10_OE" LOC = F14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT10_OE1" LOC = E15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT10_SCK" LOC = E13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT10_SCLR" LOC = E16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT10_SI" LOC = C13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT11_OE" LOC = G14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT11_OE1" LOC = H16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT11_SCK" LOC = A4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT11_SCLR" LOC = H15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT11_SI" LOC = F12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT12_OE" LOC = H13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT12_OE1" LOC = H14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT12_SCK" LOC = H11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT12_SCLR" LOC = G12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT12_SI" LOC = F13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT1_OE" LOC = A5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT1_OE1" LOC = B5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT1_SCK" LOC = F7 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT1_SCLR" LOC = E6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT1_SI" LOC = C8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT2_OE" LOC = B2 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT2_OE1" LOC = C2 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT2_SCK" LOC = E3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT2_SCLR" LOC = C3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT2_SI" LOC = E4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT3_OE" LOC = D8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT3_OE1" LOC = C10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT3_SCK" LOC = D11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT3_SCLR" LOC = E10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT3_SI" LOC = D12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT4_OE" LOC = E8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT4_OE1" LOC = D5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT4_SCK" LOC = B8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT4_SCLR" LOC = C5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT4_SI" LOC = A8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT5_OE" LOC = C9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT5_OE1" LOC = A9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT5_SCK" LOC = A10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT5_SCLR" LOC = B10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT5_SI" LOC = C11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT6_OE" LOC = E11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT6_OE1" LOC = F10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT6_SCK" LOC = D9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT6_SCLR" LOC = F9 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT6_SI" LOC = E7 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT7_OE" LOC = A11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT7_OE1" LOC = B15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT7_SCK" LOC = C15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT7_SCLR" LOC = B16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT7_SI" LOC = C16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT8_OE" LOC = A13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT8_OE1" LOC = B14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT8_SCK" LOC = B12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT8_SCLR" LOC = A14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT8_SI" LOC = A12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT9_OE" LOC = D14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT9_OE1" LOC = D16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT9_SCK" LOC = F16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT9_SCLR" LOC = F15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "REL_SLOT9_SI" LOC = G16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCAL_PCB_SCL" LOC = F1 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCAL_PCB_SDA" LOC = F2 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCAL_SCL" LOC = M3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCAL_SDA" LOC = M4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT1" LOC = N4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT10" LOC = F5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT11" LOC = M11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT12" LOC = P2 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT2" LOC = L5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT3" LOC = T4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT4" LOC = K6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT5" LOC = P5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT6" LOC = J4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT7" LOC = L7 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT8" LOC = H3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_RG_SLOT9" LOC = M10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT1" LOC = J14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT10" LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT11" LOC = N14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT12" LOC = R16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT2" LOC = K14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT3" LOC = K15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT4" LOC = L13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT5" LOC = L14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT6" LOC = K11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT7" LOC = M15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT8" LOC = M14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SCL_STATE_SLOT9" LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT1" LOC = M5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT10" LOC = F6 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT11" LOC = M12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT12" LOC = R5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT2" LOC = L4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT3" LOC = P4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT4" LOC = K5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT5" LOC = N5 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT6" LOC = K3 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT7" LOC = L8 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT8" LOC = H4 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_RG_SLOT9" LOC = L10 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT1" LOC = J12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT10" LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT11" LOC = N16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT12" LOC = R15 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT2" LOC = J13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT3" LOC = J16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT4" LOC = L12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT5" LOC = K16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT6" LOC = K12 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT7" LOC = L16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT8" LOC = M13 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "SDA_STATE_SLOT9" LOC = M16 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "STATE_SCAL_SCL" LOC = J11 | IOSTANDARD = LVCMOS33 | DRIVE = 20;
NET "STATE_SCAL_SDA" LOC = G11 | IOSTANDARD = LVCMOS33 | DRIVE = 20; 

左列 -> 右列

N4 -> L8
N3 -> L4
L4 -> P4
L3 -> T4
K3 -> K3
J7 -> M4
J6 -> M3
J3 -> L4
J1 -> L5
H4 -> K5
H3 -> K6
G3 -> K3
G1 -> J4
F4 -> H4
F3 -> H3
E3 -> F6
E1 -> F5
E4 -> R5
D3 -> P2
C5 -> E4
A5 -> E3
D6 -> C3
C6 -> C2
A7 -> B2